[{rabbitmq_shovel,
  [{shovels,
    [{killer_push,
      [{sources,      [{broker,"amqp://ec2-54-201-123-98.us-west-2.compute.amazonaws.com"}]},
       {destinations, [{broker, "amqp://localhost"}]},
       {queue, <<"wl_update_queue">>},
       {ack_mode, on_confirm},
       {publish_properties, [{delivery_mode, 2}]},
       {publish_fields, [{exchange, <<"">>},
                         {routing_key, <<"wl_update_queue">>}]},
       {reconnect_delay, 5}
      ]}
     ]
   }]
}].
